h2, h3 {
  margin: 10px;
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 10px;
}
  
.topnav {
  background-color: rgb(128, 123, 123);
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  padding: 0;
  margin: none;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
  width: 50vw;
}

.topnav a:hover {
  background-color: rgb(196, 193, 193);
  color: black;
  text-decoration: underline;
  font-style: italic;
}

.topnav a.active {
  background-color: rgb(36, 35, 36);
  color: rgb(219, 219, 219);
}

.topnav .icon {
  display: none;
  font-size: 20px;
  padding: 14px;
  cursor: pointer;
}

/* Show the icon that should open and close the topnav */
.topnav a.icon {
  float: right;
  display: block;
}

.indented {
  text-indent: 40px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#statsTable th, #statsTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
}

td {
  background-color: white;
  color:black;
}

.tableheader {
  background-color: rgb(132, 129, 129);
  text-decoration: underline;
}

.conclusion {
  margin-bottom: 1vh;
  font-size: 25px;
  text-decoration: underline;
  font-weight: 600;
}

.sum_stats {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 25px;
  text-decoration: underline;
  font-weight: 600;
}

#yearSlider {
  margin-bottom: 2vh;
}

body {
  background-color: rgba(216,207,127,255);
}

.notecard {
  position: relative;
  background: black;
  color: white; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.8); 
  margin: 10px 0;
  max-width: 100%; 
}